<div class="message-form">
 <form ng-submit="sendMessage()" class="container">
   <div class="row">
     <div class="input-field col s10">
       <i class="prefix mdi-communication-chat"></i>
       <input ng-model="messageContent" type="text" placeholder="Type your message" type-tracking />
       <span class="chip left">
          <user-avatar uuid="{{currentUser.id}}"></user-avatar>
          {{currentUser.login}}
       </span>
     </div>
     <div class="input-field col s2">
       <button type="submit" class="waves-effect waves-light btn-floating btn-large">
         <i class="mdi-content-send"></i>
       </button>
     </div>
   </div>
  </form>
</div>