<div class="login-container">
  <div id='particles-js'></div>
  <div class="signin-card card z-depth-4">
      <div class="logo-image">
        <img src="assets/img/hubbub-logo.png" alt="Hubbub AngularJS Chat app" title="Hubbub AngularJS Chat app" width="300">
      </div>
      <p class="subhead center-align">Sign-in to chat with awesome people!</p> 
      <sign-in-with-github-button></sign-in-with-github-button>
    </div>
</div>

<script>
 particlesJS.load('particles-js', '././assets/particles.json');
</script>